/* Calling the Fonts */
@font-face{
  font-family: 'Poppins light';
  src: url(../fonts/GE-SS-Light.otf);
}
@font-face{
  font-family: 'Poppins regular';
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face{
  font-family: 'Poppins med';
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face{
  font-family: 'Poppins bold';
  src: url(../fonts/Poppins-Bold.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper.mySwiper{
  width: 100%;
  height: 550px;
}
html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}
.swiper{
  width: 100%;
  height: 100%;
}
.swiper.mySwiper .swiper-slide{
  background-position: right top;
  background-size: cover;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Style Header */
.navbar-brand{
  height: 125px;
  margin-top: -40px;
  margin-right: -30px;
}
.navbar-brand img{
  position: absolute;
}
.navbar-nav .dropdown-menu{
  text-align: right;
  border-radius: 10px;
}
a#navbarDropdown{
    font-family: 'Noto Kufi Arabic';
  font-size: 14px;
  font-weight: bold;
  color: #9992bf;
  transition: .5s;
}
a#navbarDropdown:hover{
  color: #01101a;
}
a.dropdown-item.test{
     padding: 10px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Noto Kufi Arabic' !important;
    color: #01101a;

  color: #01101a;
}
button#navbarDropdown{
  margin-top: 3px;
  height: 30px;
  width: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #1f1a3b;
  border-radius: 10%;
  border: 0;
  font-size: 11px;
}
a.dropdown-item.test:hover{
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #01101a;
}
.dropdown-toggle::after {
  display: none;
}
.swiper.mySwiper .txt-home{
  display: flex;
  flex-direction: column;
  height: 450px;
  text-align: right;
  padding: 10px 250px 10px 600px;
}
.swiper.mySwiper .txt-home h1{
  color: #fff;
  margin-bottom: 5px;
}
.swiper.mySwiper .txt-home h3{
  color: #fff;
  margin-bottom: 30px;
  opacity: .8;
}
.swiper.mySwiper .txt-home p{
  color: #fff;
  opacity: .8;
}
.swiper.mySwiper .txt-home button{
  margin-top: 60px;
  height: 40px;
  width: 120px;
  border: 0;
  font-weight: bold;
  font-family: 'Noto Kufi Arabic';
  color: rgb(255, 255, 255);
  background-color: #20154F;
  border-radius: 10px;
}
.swiper.mySwiper .button-next{
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background-color: #FFFFFF;
  opacity: .6;
  z-index: 6;
  border-radius: 10px;
  text-align: center;
  line-height: 2.7;
  cursor: pointer;
  color: #20154F;
  transition: .5s;
}
.swiper.mySwiper .button-prev{
  position: absolute;
  top: 50%;
  right: 150px;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background-color: #FFFFFF;
  opacity: .6;
  z-index: 6;
  border-radius: 10px;
  text-align: center;
  line-height: 2.7;
  cursor: pointer;
  color: #20154F;
  transition: .5s;
}
.swiper.mySwiper .button-next:hover, .swiper.mySwiper .button-prev:hover{
  opacity: 1;
  background-color: #20154F;
  color: #fff;
}



/* ÙAbout Section */
.about-sec{
  padding-top: 100px;
  width: 100%;
  height: 500px;
}
.about-sec .txt-about .tit-about{
  background-color: #20154F;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
.about-sec .txt-about .tit-about h2{
  font-size: 18px;
  color: #FFF;
}
.about-sec .txt-about .parg ol{
  padding-top: 30px;
  padding-right: 20px;
  color: #20154F;
}
.about-sec .txt-about .parg ol li{
  text-align: right;
  list-style-type: square;
  padding-left: 150px;
}
.about-sec .img-about{
  width: 250px;
  height: 250px;
  box-shadow: 2px 4px 3px 2px #bbb;
  border: 3px solid #20154F;
  border-radius: 25px;
  transform: rotate(40deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-sec .img-about img{
  width: 270px;
  height: 270px;
  margin-bottom: 10px;
  margin-right: 15px;
  transform: rotate(-40deg);
}
.success-sec{
  padding: 80px 0;
  width: 100%;
  height: 400px;
  background: linear-gradient(90deg, rgba(23, 10, 68, 0.9), rgba(23, 13, 59, 0.9), rgba(23, 13, 59, 0.9)),url(../img/larm-rmah-AEaTUnvneik-unsplash.png);
  background-size: cover;
}
.success-sec .txt-success{
  text-align: right;
  color: #FFF;
}
.success-sec .tit-success{
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}
.success-sec .tit-success img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.success-sec .tit-success h2{
  font-size: 23px;
}
.success-sec .txt-success .parg ol{
  margin-right: 25px;
}
.success-sec .txt-success .parg ol li{
  text-align: right;
  list-style-type: square;
  font-size: 16px;
  line-height: 2;
}
.success-sec .txt-success .parg{
  line-height: 2;
}
.success-sec .txt-success p{
  font-size: 14px;
}
.person-sec{
  padding-top: 70px;
  width: 100%;
  height: 700px;
  position: relative;
}
.person-sec .color-person{
  position: absolute;
  left: 0;
  top: 290px;
  width: 350px;
  height: 190px;
  z-index: -10;
  background-color: #20154F;
  border-radius: 5px;
  box-shadow: 2px 4px 3px 1px #BBB;
}
.person-sec .tit-person{
  background-color: #20154F;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 250px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
.person-sec .tit-person h2{
  line-height: 1.5;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.person-sec .img-person{
  margin-top: 30px;
  text-align: right;
}
.person-sec .img-person img{
    width: 300px;
    height: 300px;
}
.person-sec .txt-person{
  padding-top: 60px;
  text-align: right;
  font-size: 15px;
  width: 60%;
}
.person-sec .txt-person p{
  margin-bottom: 70px;
  color: #20154F;
  font-size: 16px;
}
.goals-sec{
  margin-top: 70px;
  width: 100%;
  height: 500px;
}
.goals-sec .tit-goals{
  background-color: #20154F;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 150px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
.goals-sec .tit-goals h2{
  line-height: 1.5;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.goals-sec .parg{
  padding-top: 25px;
}
.goals-sec .parg ol{
  padding-top: 30px;
  padding-right: 20px;
  color: #20154F;
}
.goals-sec .parg ol li{
  text-align: right;
  list-style-type: square;
  padding-left: 150px;
  padding-bottom: 20px;
}
.goals-sec .back-first{
  margin-top: 100px;
  width: 300px;
  height: 300px;
  transform: rotate(45deg);
  border: none;
  box-shadow: 2px 3px 5px 7px #bbb;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goals-sec .back-second{
  width: 250px;
  height: 250px;
  transform: rotate(-90deg);
  border: none;
  box-shadow: -3px -1px 10px 7px #bbb;
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.goals-sec .back-second .txt-goals{
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.goals-sec .back-second .txt-goals h2{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.counter-sec{
  margin-top: 100px;
  padding: 50px 0;
  width: 100%;
  height: 430px;
  display: flex;
  align-items: center;
  background-image: url(../img/Group-1158@2x.png);
  background-size: cover;
}
.counter-sec .boxes-sec{
  padding: 20px;
}
.counter-sec .boxes-sec .box-sec{
  text-align: center;
}
.counter-sec .boxes-sec .box-sec h3{
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}
.counter-sec .boxes-sec .box-sec h4{
  font-size: 25px;
  font-family: sans-serif;
  color: #fff;
}
.counter-sec .tit-counter{
  width: 100%;
  height: 40px;
  text-align: center;
}
.counter-sec .tit-counter h2{
  font-size: 25px;
  color: #FFF;
}



/* Start Devs Section */
.devs-sec{
  margin-top: 70px;
}
.dev-boxes .row{
  min-height: 500px;
  align-items: center;
  /* margin-top: 70px; */
}
.dev-boxes .single-box{
  position: relative;
  height: 170px;
  background-color: #FFF;
  margin: 70px auto 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow:  0 5px 20px rgba(0, 0, 0, .2);
  transition: 0.35s ease-in-out;
  border-radius: 5px;
  max-width: 240px;
  min-width: 230px;
}
.dev-boxes .single-box:hover{
  height: 320px;
}
.dev-boxes .single-box .img-box{
  position: relative;
  width: 100%;
  height: 140px;
  top: -80px;
  left: 0;
  box-shadow:  0 5px 20px rgba(0, 0, 0, .2);
  z-index: 11;
  border-radius: 4px;
}
.dev-boxes .single-box .img-box img{
  width: 100%;
  border-radius: 4px;
}
.dev-boxes .single-box .dev-info{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
}
.dev-info .dev-name{
  font-size: 18px;
  font-weight: bold;
}
.dev-info .job-title{
  font-size: 14px;
  color: #333;
}
.dev-info .prof-link{
  display: inline-block;
  padding: 5px 15px;
  background-color: #4c4879;
  border-radius: 2px;
  color: #FFF;
  transition: .3s;
}
.dev-info .prof-link:hover{
  background-color: #635e9b   ;
  box-shadow: 0 5px 15px rgba(76, 72, 121, 0.3);
}
.dev-boxes .single-box:hover .dev-info{
  visibility: visible;
  opacity: 1;
  margin-top: -20px;
  transition-delay: 0.3s;
}
.devs-sec .tit-devs{
  background-color: #20154F;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 170px;
  height: 40px;
  padding: 5px;
  text-align: center;
}
.devs-sec .tit-devs h2{
  font-size: 18px;
  line-height: 1.5;
  color: #FFF;
}



/* Start Devs Section */
.partners-sec{
  width: 100%;
  height: 250px;
  position: relative;
}
.partners-sec .partners{
  margin-top: 70px;
}
.partners-sec .tit-partners{
  background-color: #20154F;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 150px;
  height: 40px;
  padding: 5px;
  text-align: center;
  margin-right: 115px;
}
.partners-sec .tit-partners h2{
  font-size: 18px;
  line-height: 1.4;
  color: #FFF;
}
.partners-sec .partners .txt-partners{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 230px;
  background-color: #F7F7F7;
  border-radius: 15px;
  box-shadow: 3px 4px 3px 10px #fff;
}
.partners-sec .partners .txt-partners img{
  width: 180px;
  height: 60px;
}
.partners-sec .partners .txt-partners h4{
  font-size: 17px;
  color: blue;
}
.partners-sec .swiper-button-next{
  top: 160px;
  right: 90px;
}
.partners-sec .swiper-button-prev{
  top: 160px;
  left: 90px;
}
.swiper.partners{
  width: 80%;
}
/* Up-btn */
.up-btn.active{
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}
.up-btn{
  display: inline-flex;
  width: 50px;
  height: 50px;
  background-color: #8276F8;
  color: #FFF;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 111;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
}



/* Footer Style */
.footer{
  margin-top: 160px;
  padding: 40px;
  background-color: #5c508c;
}
.footer .single-clm ul li{
  list-style: none;
}
.page-footer{
  background-color: #21154f;
  width: 100%;
  padding: 20px;
}
.page-footer .container{
    text-align: center;
}
.page-footer .down-footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-between;
}
.single-clm{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}
.single-clm .clm-links{
  display: flex;
  flex-direction: column;
}
.page-footer .container .down-footer ul{
    display: flex;
    justify-content: center;
}
.page-footer .container .down-footer ul li{
    padding: 0 10px;
    list-style: none;
}
.logo-mar{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.logo-img{
  display: flex;
  justify-content: center;
}
.logo-img img{
    margin-top: -19px;
    width: 180px;
    height: 180px;
}
.page-footer .container ul li i{
    font-size: 20px;
    color: var(--mainColor);
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}
.page-footer .container ul li i:hover{
    background-color: var(--subColor);
    color: white;
}
.page-footer .container .down-footer p{
    color: white;
    font-size: 15px;
    line-height: 2;
    direction: ltr;
}
.page-footer .container p span{
    font-weight: bold;
}
.single-clm .links-list .item .link{
  color: #fff;
  font-size: 18px;
  transition: .3s;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 10px;
}
.single-clm .links-list .item .link:hover{
  transform: translatex(-20px);
}
.page-footer .links-footer{
  width: 100%;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: #20154F;
}
img.makka-portal {
    margin-right: 80px;
    margin-top: 80px;
}